@import url("./fonts.css");
@import url("./font-awesome.css");
@import url("./responsiveslides.css");
@import url("./themes.css");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: "ArialRegular";
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url(../img/background.jpg);
}

.main {
    margin: 0 auto;
    max-width: 98rem;
    background-color: white;
}

a {
    color: #95161f;
}

/* Header */

header {
    width: 100%;
}

.head-container {
    margin: 0 auto;
    background-color: #2a2e36;
}

.logo-search {
    max-width: 98rem;
    margin: 0 auto;
    background-color: #2a2e36;
}

.logo {
    float: left;
    margin: 1.6rem 0 1.1rem 0.8rem;
}

.search {
    float: right;
    margin: 1.6rem 0.8rem 0 0;
}

.logo h1 {
    font: 3rem ArialBold;
    color: #a5adb8;
}

.logo h1:first-letter {
    color: #a94a5b;
}

.logo span {
    font: 1.2rem ArialBold;
    color: #656f7a;
}

.search input {
    display: inline-block;
    border: solid 0.1rem #ae4b5d;
    background-color: #24272d;
    height: 3.4rem;
    width: 19.6rem;
    border-radius: 0.3rem;
    padding-left: 0.7rem;
    font-size: 1.4rem;
    color: #5b636e;
}

.fa {
    font-size: 1.4rem;
}

.search input:focus {
    border: solid 0.2rem #ae4b5d;
    color: #5b636e;
    outline-offset: 0;
    outline: 0;
}

.search .icon {
    display: inline;
    height: 3.4rem;
    width: 3.4rem;
    background-color: #ae4b5d;
    border-radius: 0.3rem;
    border: none;
    color: #fff;
    margin-left: 1rem;
}

/* Navigation */

nav {
    width: 100%;
}

.nav-bar {
    max-width: 98rem;
    background-color: #95161f;
    margin: 0 auto;
    height: 3.6rem;
    text-align: right;
    display: block;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
    margin-top: 0.9rem;
    position: relative;
}

.nav-bar li:nth-child(-n + 6) {
    margin-right: 5.3rem;
}

.nav-bar li:last-child {
    margin-right: 2.1rem;
}

.nav-bar > li > a {
    text-decoration: none;
    color: #fff;
    font: 1.6rem "ArialBold";
    display: block;
    height: 28px;
}

/*Sub-menu */

ul.submenu {
    display: none;
    position: absolute;
    width: 13rem;
    top: 2.7rem;
    left: 0;
    background-color: #95161f;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font: 1.4rem "ArialBold";
    text-align: left;
    width: 10rem;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

.nav-bar > li:hover > .submenu {
    display: block;
}

/* Breadcrumbs */

.breadcrumbs-container {
    max-width: 98rem;
    margin: 0 auto;
    background-color: #fff;
    height: 3.7rem;
}

.breadcrumbs {
    margin: 0 0 2.5rem 2.4rem;
}

.breadcrumbs li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs li:after {
    content: " / ";
    display: inline-block;
    color: #6b6f74;
    font: 1.1rem "ArialRegular";
    padding: 0 0.2rem 0 0.2rem;
}

.breadcrumbs a:not(.activ-bread) {
    font: 1.1rem "ArialRegular";
}

.activ-bread {
    text-decoration: none;
    color: #6b6f74;
}

/* Description text */

.description {
    max-width: 74.2%;
    float: right;
}

.description-label {
    font-size: 2.4rem;
    font-family: "ArialBold";
    color: #a5adb8;
    line-height: 1.71;
    margin-bottom: 0.8rem;
}

.description-label:first-letter {
    color: #ae4b5d;
}

.description-text {
    margin-bottom: 1.3rem;
}

.description-text p {
    font-size: 1.4rem;
    color: #5c646e;
    line-height: 1.44;
}

.description-text p a {
    font-size: 1.4rem;
}


/* Description images */

.description-headline {
    font-family: "ArialBold";
    color: #282d33;
    font-size: 1.8rem;
    line-height: 1.29;
    margin-bottom: 0.9rem;
}

.description-images {
    margin-bottom: 2rem;
}

.description-images img {
    display: inline-block;
}

.description-tile {
    float: left;
    margin-right: 1.5rem;
}

.description-tile img {
    width: 19.4rem;
    height: 14rem;
    border: 0.1rem solid #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}


/* Description lists */

.description-lists {
    margin-bottom: 3rem;
}

.list {
    display: inline-block;
    float: left;
    margin-right: 1.7rem;
    list-style: inside;
    color: #5c646e;
}

.description-lists span {
    font-size: 1.4rem;
}

.code {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 0.7rem;
    background-color: #dedede;
    border-radius: 0.2rem;
    padding: 0 0.2rem;
}

.list-name {
    margin-bottom: 0.5rem;
}

.list ul li,
.list ol li {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.list ul {
    margin-left: 0.8rem;
}

.unordered-circle ul {
    list-style-type: disk;
}

.unordered-circle ul > li > ul > li,
.unstyled ul > li > ul {
    list-style: disc;
    list-style-position: inside;

}

.unordered-circle ul > li > ul,
.unstyled ul > li > ul {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    margin-left: 2.5rem;
    list-style-position: inside;
}

.unstyled ul {
    list-style: none;
}

/* Description Tables */

.description-table table {
    width: 69.4rem;
    border-spacing: 0.1rem;
    margin-bottom: 5.9rem;
}

.description-table table thead {
    background-color: #9c4757;
}

.description-table table thead tr th {
    font-size: 1.2rem;
    font-family: "ArialBold";
    color: #fff;
    text-align: center;
    height: 3.3rem;
}

.description-table table tbody {
    background-color: #282d33;
    color: #a5adb8;
}

.description-table table tbody tr td {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    height: 3.3rem;
}

.description-table table tbody tr td:first-child {
    padding-left: 0;
    text-align: center;
    font-size: 1.4rem;
    width: 4.6rem;
}

.description-table table thead tr td:first-child {
    border-top-left-radius: 0.3rem;
}

.description-table table thead tr td:last-child {
    border-top-right-radius: 0.3rem;
}

.description-table table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.3rem;
}

.description-table table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.3rem;
}

.description-table table tbody tr td:last-child a {
    font-size: 1.2rem;
    color: #d08b98;
}

/* Contact Us */

aside {
    float: left;
    height: 100%;
    max-width: 22%;
    margin-right: 2.7rem;
}

.contact-us {
    margin-left: 2.2rem;
    border: solid 0.1rem #d8dbde;
    margin-bottom: 2.4rem;
}


.contact-us label {
    display: block;
    margin: 0 1.1rem 1.6rem 1.1rem;
}

.contact-us label:last-child {
    margin-bottom: 1.7rem;
}

.contact-us fieldset {
    border: none;
}

.contact-us input:not(.contact-button) {
    padding: 0.8rem 0 0.5rem 0.9rem;
    font-size: 1.4rem;
    color: #757575;
    border-radius: 0.3rem;
    border: solid 0.1rem #fff;
    background-color: #e3e4e5;
    box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
    width: 100%;
}

.contact-label {
    font-family: "ArialBold";
    font-size: 1.8rem;
    color: #000;
    padding: 1.5rem 0 1.3rem 1.1rem;
}

.contact-button {
    display: block;
    margin: 0 auto 3.2rem auto;
    padding: 0.9rem 1.7rem 0.7rem 1.7rem;
    background-color: #a8202a;
    color: #fff;
    font-size: 1.6rem;
    border: solid 0.5rem #fff;
    box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.30);
}

.contact-button:hover {
    background-color: #ae4b5d;
    transform: scale(1.01);
}

.contact-button:focus {
    background-color: #a8202a;
    transform: scale(1.0);
}

.contact-info {
    display: block;
    margin: 0 2.2rem 0 2.2rem;
}

.contact-info-label {
    font-family: "ArialBold";
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 0.6rem;
}

.contact-info p {
    font-size: 1.2rem;
    color: #5c646e;
    margin-bottom: 1.1rem;
}

.contact-info a {
    font-size: 1.2rem;
}

/* Footer */

footer {
    width: 100%;
    background-color: #2a2e36;
    border-top: solid 0.8rem #ae4b5d;

}

.footer-inner {
    max-width: 98rem;
    margin: 0 auto;
}

.footer-inner div {
    float: left;
    margin: 2.9rem 7.7rem 2rem 0;
    width: 27%;
}

.footer-inner .location {
    margin-right: 0.7rem;
}

.footer-inner div p,
.footer-inner div a,
span,
.footer-inner div li {
    font-size: 1.2rem;
    color: #85898f;
    text-decoration: none;
}

.footer-inner div h2 {
    display: inline-block;
}

.footer-inner div h2 {
    text-transform: uppercase;
}

.footer-inner div h2,
.footer-headline {
    font-size: 1.8rem;
    color: #a5adb8;
}

.footer-inner div span:not(.line) {
    margin-bottom: 0.4rem;
}

.footer-inner div h2:first-letter {
    color: #ae4b5d;
}

.footer-call,
.footer-inner .local .footer-call a {
    font-family: "ArialBold";
    font-size: 1.4rem;
    color: #a5adb8;
}

.footer-inner li {
    list-style: inside;
}

.hours p {
    margin-bottom: 1rem;
}

.hours li {
    list-style-image: url(../img/clock-ico.png);
    margin-left: 0.4rem;
}

.hours li:nth-child(-n + 2) {
    margin-bottom: 0.8rem;
}

.hours h2 {
    margin-right: 0.2rem;
}

.footer-inner .local li {
    color: #ae4b5d;
    margin-bottom: 0.9rem;
}

.local li span {
    color: #85898f;
}


.line {
    display: block;
    height: 0.2rem;
    width: auto;
    background-color: #191c20;
    border-bottom: solid 0.1rem #40474f;
    margin-bottom: 1.2rem;
}


.location p:nth-child(-n + 7) {
    margin-bottom: 0.9rem;
}

.location .email {
    color: #d08b98;
    text-decoration: underline;
}


/* Media */

@media screen and (max-width:960px) {
    .main {
        float: none;
        width: 100%;
        padding: 0 1rem 0 1rem;
    }

    .slider-info {
        margin-top: 1rem;
    }

    .nav-bar {
        text-align: center;
    }

    .description {
        float: none;
        max-width: 100%;
    }

    .description-images {
        text-align: center;
    }

    .description-tile {
        display: inline-block;
        float: none;
    }

    .description-lists {
        text-align: center;
    }

    .list {
        display: inline-block;
        float: none;
        text-align: left;
        vertical-align: top;
    }
    .description-lists h2 {
        text-align: left;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }

    aside {
        float: none;
        max-width: 100%;
        text-align: center;
    }

    fieldset {
        opacity: 1;
    }

    .contact-us input:not(.contact-button) {
        width: 60%;
    }

    .contact-button {
        width: 40%;
        margin-bottom: 1rem;
    }

    .contact-info p {
        margin-bottom: 0.1rem;
    }

    .contact-info a {
        display: block;
        margin-bottom: 2rem;
    }

    .footer-inner {
        padding: 0 1rem;
        text-align: center;
    }

    .footer-inner div {
        float: none;
        display: inline-block;
        text-align: left;
        margin-right: 1.5rem;
        vertical-align: top;
        width: auto;
        min-width: 23rem;
    }
}

@media screen and (max-width:740px) {
    .description-table table {
        width: 100%;
        margin-bottom: 2rem;
    }

    .description-table tr td,
    .description-table th {
        display: block;
        text-align: center;
        padding-top: 1rem;
    }

    .description-table th {
        display: none;
    }

    .description-table table tbody tr td:first-child {
        width: auto;
        background-color: #9c4757;
        font-weight: 900;
    }

    .contact-button {
        width: 60%;
    }

    .contact-us input:not(.contact-button) {
        width: 90%;
    }

    .list {
        margin-bottom: 2rem;
    }

    .description-label,
    .description-lists h2 {
        text-align: center;
    }

    .description-tile {
        margin-bottom: 2rem;
    }

    .description-headline {
        margin-bottom: 0.1rem;
    }

    .logo {
        text-align: center;
        float: none;
        padding-top: 1rem;
    }

    .search {
        text-align: center;
        float: none;
        margin-bottom: 1rem;
    }

    .slider-info {
        margin: auto;
        padding: 0 1rem;
    }

    .slider-info h2 {
        font-size: 2rem;
    }

    .slider-text2 {
        font-size: 1.3rem;
        margin-bottom: auto;
    }

    .slider-text3 {
        font-size: 1.3rem;
    }

    .slider-text4 {
        font-size: 1rem;
        max-width: 100%;
    }

    .breadcrumbs-container {
        display: none;
    }

    .nav-bar {
        display: block;
        height: auto;
    }

    .nav-bar li {
        display: block;
        text-align: center;
        height: 3.5rem;
        padding-top: 1rem;
    }

    .nav-bar li:nth-child(-n + 6) {
        margin: auto;
    }

    .nav-bar li:last-child {
        margin: auto;
    }

    .nav-bar > li:hover > .submenu {
        display: none;
    }
}
