.slider {
    width: 100%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    max-width: 98rem;
    padding: 0;
    margin: 0 auto;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.slider-info {
    position: absolute;
    margin-left: 3.8rem;
    max-width: 98rem;
    margin-top: 3.9rem;
}

.slider-info h2 {
    font: 3rem ArialBold;
    color: #a5adb8;
}

.slider-info h2:first-letter {
    color: #a94a5b;
}

.slider-text2 {
    font: 1.8rem ArialBold;
    color: #282d33;
    margin-bottom: 1.1rem;
}

.slider-text3 {
    font: 1.8rem ArialBold;
    color: #a5adb8;
    margin-bottom: 0.4rem;
}

.slider-text4 {
    font: 1.4rem ArialRegular;
    color: #d9dcdf;
    max-width: 50%;
}
