.contacts-top {
    width: 100%;
    margin-top: 16.6rem;
    padding-bottom: 3.5rem;

    &__title {
        font-weight: $medium;
        font-size: 2.7rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__text {
        p {
            font-size: 1.6rem;
            line-height: calc(22 / 16);
            font-weight: $light;
            padding: 0 8.5rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .contacts-top {
        margin-top: 11.2rem;
        padding-bottom: 6.3rem;

        &__title {
            margin-bottom: 1.8rem;
        }
    }
}

@media only screen and (max-width: 640px) {
    .contacts-top {
    
        &__text {
            p {
                padding: 0 2rem;
            }
        }
    }
}