.category-section {
    width: 100%;
    position: relative;
    max-height: 100vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    &__title {
        opacity: 0;
        font-size: 4.3rem;
        width: 100%;
        text-align: center;
        color: $white;
        font-weight: $light;
        position: absolute;
        bottom: 9rem;
        z-index: 2;
    }

    #toTop {
        display: block;
        position: fixed;
        z-index: 100;
        bottom: 7rem;
        right: 13rem;
        padding: 2rem;
        opacity: 0;
        pointer-events: none;
        transition: all 2s;
        height: 3rem;
        width: auto;
        box-sizing: content-box;
    
        &.run {
            opacity: 1;
            pointer-events: initial;
            animation-name: RunUp;
            animation-duration: 2000ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-delay: 1000ms;
    
            &:hover {
                animation-play-state: paused;
            }

            &.onFooter {
                bottom: 34rem;
            }
        }
    
        img {
            transform: rotate(180deg);
            height: 100%;
            width: auto;
            object-fit: none;
        }
    }
}

.fader {
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(15,15,15,0.76) -20%,rgba(32,26,23,0.02) 80%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

@keyframes RunUp {
    0% {
        transform: translate3d(0,0,0);
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0,-3rem,0);
        opacity: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .category-section {
        height: 38rem;
        .category-section__title {
            opacity: 1;
            font-size: 3.6rem;
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
        }
    }

    .fader {
        background: linear-gradient(to bottom, rgba(32,26,23,0.11) 0%, rgba(15,15,15,0.58) 100%);
        opacity: 1;
    }
}

@media only screen and (max-width: 640px) {
    .category-section {
        height: 19rem;
        .category-section__title {
            font-size: 2.5rem;
        }

        #toTop {
            position: absolute;
            bottom: -0.6rem;
            right: 0.1rem;
            opacity: 1;
            transition: none;
            pointer-events: unset;
        }
    }
}