.showrooms {
    &__topbar {
        display: flex;
        flex-flow: row nowrap;
        padding-bottom: 2.8rem;
        border-bottom: solid 1px $grey;

        &-left,
        &-right {
            display: flex;
            flex-flow: column nowrap;
            width: 50%;
            justify-content: center;
            text-align: center;

            p {
                font-size: 1.6rem;
                font-weight: $medium;
                line-height: calc(19 / 16);
                margin-bottom: 2rem;
            }
        }

        &-left {
            p {
                text-transform: uppercase;
            }

            select {
                height: 3rem;
                width: 15rem;
                margin: 0 auto;
            }
        }

        &-right {
            .contact-icon {
                max-width: 1.2rem;
                height: auto;
                margin-right: 8px;
            }
        
            .contact-text {
                font-weight: $regular;
                font-size: 1.4rem;
            }

            .showrooms-contact-container {
                display: flex;
                flex-flow: column wrap;
                width: auto;
                
                a {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin-right: 0;
                    transition: opacity 0.25s;
        
                    &:first-child {
                        margin-bottom: 1.6rem;
                    }
        
                    &:hover {
                        opacity: 0.4;
                    }
                    &:active {
                        opacity: 1;
                    }

                    &:last-child {
                        .contact-text {
                            font-weight: $medium;
                        }
                    }
                }
            }
        }
    }

    &__content {
        padding: 0 8.5rem 0;

        &-tab {
            display: none;

            &.init {
                display: block;
            }
        }
    }

    &__list {
        padding: 2rem 0;
    }

    &__item {
        padding: 0 2.1rem 2rem;
        border-bottom: solid 1px $grey;

        &:not(:first-child) {
            padding-top: 2rem;
        }

        .wrapper {
            padding-left: 2rem;
        }
    }

    &__name {
        font-weight: $medium;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    &__map {
        display: block;
        font-weight: $regular;
        font-size: 1.4rem;
        color: #403DB0;
        margin-bottom: 6px;
        line-height: calc(17 / 14);
        transition: all 0.25s;
        position: relative;

        &:hover {
            opacity: 0.44;
        }

        &::before {
            content: '';
            display: inline-block;
            height: 1.4rem;
            width: 1.4rem;
            background-image: url('../img/icon_adress.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.4rem;
            transform: translateX(-50%);
            top: 0;
        }
    }

    &__time {
        font-weight: $medium;
        font-size: 1.4rem;
        color: #40343A;
        margin-bottom: 6px;
        line-height: calc(17 / 14);
        position: relative;
        opacity: 0.7;

        &::before {
            content: '';
            display: inline-block;
            height: 1.4rem;
            width: 1.4rem;
            background-image: url('../img/icon_time.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.4rem;
            transform: translateX(-50%);
            top: 0;
        }

        &-alt {
            &-day {
                display: inline-block;
                min-width: 4rem;
                margin-right: 1.64rem;
            }
        }

        &-alt.no-clock{
            &::before {
                content: none;
            }
        }
    }

    &__phone {
        font-weight: $medium;
        font-size: 1.4rem;
        line-height: calc(17 / 14);
        transition: all 0.25s;
        position: relative;

        &:hover {
            opacity: 0.44;
        }

        &::before {
            content: '';
            display: inline-block;
            height: 1.4rem;
            width: 1.4rem;
            background-image: url('../img/icon_phone.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.4rem;
            transform: translateX(-50%);
            top: 0;
        }
    }
}