.text-block {
    position: relative;
    z-index: 1;
    p {
        max-width: 58.7rem;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;
        font-weight: $light;
        padding: 7rem 0;
        line-height: calc(22 / 16);
    }

    &.last {
        p {
            padding-bottom: 0;
        }
    }

    .button {
        margin-top: 4rem;
    }

}

.animated-text {
    transform: translateY(15rem);
    opacity: 0;
    transition: transform 1.5s, opacity 1.5s;
}

.animated-text-show {
    transform: translateY(0);
    opacity: 1;
}

.about {
    .text-block {
        p {
            font-weight: $light;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .text-block {

        &.last {
            p {
                padding-bottom: 7rem;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .text-block {
        p {
            margin: 0 1.6rem;
            text-align: left;
            padding: 9.2rem 0 4rem;
            line-height: calc(22 / 16);
        }

        &.last {
            p {
                padding: 4rem 0 7rem;
            }
        }
    }
}