.two-images {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: $white;

    .image-left {
        width: 56.944%;
    }

    .image-right {
        width: 40.972%;
    }

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .two-images {
        flex-flow: column nowrap;

        .image-left {
            margin-bottom: 2.2rem;
        }

        .image-left,
        .image-right {
            width: 100%;
            height: 22rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
