/* VARS */
@import "common/variables";

/* FONTS */
@import "common/fonts";

/* VENDOR */
@import "vendor/normalize";

/* COMMON */
@import "common/best-practices";
@import "common/common";

/* PARTS */
@import "parts/header";
@import "parts/footer";
@import "parts/lang-selector";
@import "parts/main-page-hero";
@import "parts/main-page-section";
@import "parts/hero";
@import "parts/text-block";
@import "parts/two-images";
@import "parts/contacts-top";
@import "parts/messengers";
@import "parts/showrooms";

/* PAGES */
@import "pages/products";
@import "pages/product";